@keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }

@keyframes bounceIn {
  from, to {
    animation-timing-function: ease-out; }
  from {
    transform: scale3d(0, 0, 0); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes bounceOut {
  from, to {
    animation-timing-function: ease-in; }
  from {
    transform: scale3d(1, 1, 1); }
  to {
    transform: scale3d(0, 0, 0); } }

.dungen {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .dungen svg {
    width: 100%;
    height: 100%; }
    .dungen svg #highlight-path {
      animation: dash 30s linear infinite;
      stroke-dasharray: 10;
      stroke-dashoffset: 1000;
      animation-fill-mode: forward; }
    .dungen svg .block {
      transform-origin: center;
      animation: bounceIn .5s;
      animation-fill-mode: both; }
      .dungen svg .block.out {
        animation-name: bounceOut; }
  .dungen .controls {
    position: absolute;
    top: 0;
    left: 0; }
